@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Circular Spotify Text Medium';
  src: url('./assets/fonts/CircularSpotifyText-Medium.otf');
}

@font-face {
  font-family: 'Circular Spotify Text Light';
  src: url('./assets/fonts/CircularSpotifyText-Light.otf');
}

@font-face {
  font-family: 'Circular Spotify Text Book';
  src: url('./assets/fonts/CircularSpotifyText-Book.otf');
}
